Binaries/
Saved/
ThirdParty/FBX/*
!ThirdParty/FBX/fbx_readme.txt
Intermediate/Build/
Intermediate/Config/
Intermediate/ReimportCache/
Intermediate/Shaders/
Intermediate/Staging/
Intermediate/CachedAssetRegistry.bin
TreeGenerator.sdf
TreeGenerator.opensdf

